
.ace-settings-container {
	position: absolute;
	right: 0;
	top: 15px;
	bottom: 15px;
	z-index: 12
}

@media ( max-width :480px) {
	.ace-settings-container {
		text-align: right
	}
	.ace-settings-box {
		float: none !important;
		text-align: left
	}
	.btn.ace-settings-btn {
		float: none !important;
		display: inline-block
	}
}

@media print {
	.ace-settings-container, .btn-scroll-up, .label[class*=arrowed]:after,
		.label[class*=arrowed]:before {
		display: none !important
	}
	.btn, .btn.btn-app {
		background: 0 0 !important;
		border-width: 1px !important;
		border-radius: 0 !important;
		color: #555 !important
	}
}

.btn.btn-app.ace-settings-btn {
	float: left;
	display: block;
	text-align: center;
	border-radius: 6px 0 0 6px;
	opacity: .55;
	vertical-align: top;
	margin: 0
}

.btn.btn-app.ace-settings-btn.open, .btn.btn-app.ace-settings-btn:hover
	{
	opacity: 1
}

.btn.btn-app.ace-settings-btn.btn-xs {
	width: 45px;
	height: 35px;
}

.ace-settings-box {
	display: block;
	float: left;
	max-width: 0;
	max-height: 0;
	overflow: hidden;
	padding: 0;
	-moz-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	background-color: #FFF;
	border: 0 solid #FFB34B;
	-webkit-transition: max-width .25s linear 0s, max-height 0s linear .25s,
		padding 0s linear .25s, border-width 0s linear .25s;
	-o-transition: max-width .25s linear 0s, max-height 0s linear .25s,
		padding 0s linear .25s, border-width 0s linear .25s;
	transition: max-width .25s linear 0s, max-height 0s linear .25s, padding
		0s linear .25s, border-width 0s linear .25s
}

.ace-settings-box.open {
	max-width: 320px;
	max-height: 1000px;
	padding: 0 14px;
	border-width: 2px;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s
}

.ace-settings-box.open .ace-settings-item {
	z-index: auto;
	min-width: 140px
}

.ace-settings-box .ace-settings-item {
	margin: 6px 0;
	color: #444;
	max-height: 24px;
	position: relative;
	z-index: -1;
	white-space: nowrap
}

@media ( max-width :320px) {
	.ace-settings-box>.clearfix>.pull-left, .ace-settings-box>.clearfix>.pull-right
		{
		float: none !important
	}
}